<h2>Alexis Marien</h2>
<img src="images/alexis.jpg">
<a href="mailto:alexismarien@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
<a href="https://github.com/AxMari" target='_blank'><i class="fa fa-github" aria-hidden="true"></i></a>


<h2>Britta Rodenbeck</h2>
<img src="images/britta.jpg">
<a href="mailto:rodenbeck.britta@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
<a href="https://www.github.com/brodenbeck" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
<a href="https://twitter.com/brodenbeck_des"><i class="fa fa-twitter" aria-hidden="true"></i></a>
<a href="http://www.brittarodenbeck.com" target="_blank"><i class="fa fa-desktop" aria-hidden="true"></i></a>