<div class="half-width">
	<h2 class="text-center">Alexis Marien</h2>
	<img src="images/alexis.jpg">
	<div class="text-center">
		<a href="mailto:alexismarien@gmail.com"><i class="contact-icons fa fa-envelope" aria-hidden="true"></i></a>
		<a href="https://github.com/AxMari" target='_blank'><i class="contact-icons fa fa-github" aria-hidden="true"></i></a>
		<a href="https://twitter.com/alexis_marien"><i class="contact-icons fa fa-twitter" aria-hidden="true"></i></a>
	</div>
</div>

<div class="half-width">
	<h2 class="text-center">Britta Rodenbeck</h2>
	<img src="images/britta.jpg">
	<div class="text-center">
		<a href="mailto:rodenbeck.britta@gmail.com"><i class="contact-icons fa fa-envelope" aria-hidden="true"></i></a>
		<a href="https://www.github.com/brodenbeck" target="_blank"><i class=" contact-icons fa fa-github" aria-hidden="true"></i></a>
		<a href="https://twitter.com/brodenbeck_des"><i class="contact-icons fa fa-twitter" aria-hidden="true"></i></a>
		<a href="http://www.brittarodenbeck.com" target="_blank"><i class="contact-icons fa fa-desktop" aria-hidden="true"></i></a>
	</div>
</div>