<p class="text-center intro">What should we do today?</p>
<p class="text-center" id="select">Select an interest to find things to do around the Q-Line.</p>

<div class="int-div">
  <button class="int-button" ng-click='artsClick()'><i class="fa fa-music fa-4x" aria-hidden="true"></i><br/><br/>entertainment</button>
  <button class="int-button" ng-click='beerClick()'><i class="fa fa-glass fa-4x" aria-hidden="true"></i><br/><br/>drinks</button>
</div>

<div class="int-div">
  <button class="int-button" ng-click='coffeeClick()'><i class="fa fa-coffee fa-4x" aria-hidden="true"></i><br/><br/>coffee</button>
  <button class="int-button" ng-click='shopClick()'><i class="fa fa-shopping-bag fa-4x" aria-hidden="true"></i><br/><br/>shopping</button>
</div>