<!-- home page for selecting user interest -->
<!-- <div id= "categories">
    <fieldset> What are you interested in?
        <br>
        <div>
            <select
              ng-options="p.name for p in interests"
              ng-model="selected"
              ng-change="hasChanged()">
            </select>
        </div>
    </fieldset>
    
    <div ng-if="error_index === $index" ng-repeat="error in errors">{{error.message}}</div>
</div> -->

<button ng-click='artsClick()'>Arts and Entertainment</button>
<button ng-click='beerClick()'>Beer and Wine</button>
<button ng-click='coffeeClick()'>Coffee</button>
<button ng-click='shopClick()'>Shopping</button>