<!-- home page for selecting user interest -->
<!-- <div id= "categories">
    <fieldset> What are you interested in?
        <br>
        <div>
            <select
              ng-options="p.name for p in interests"
              ng-model="selected"
              ng-change="hasChanged()">
            </select>
        </div>
    </fieldset>
    
    <div ng-if="error_index === $index" ng-repeat="error in errors">{{error.message}}</div>
</div> -->

<p class="text-center intro">What should we do today?</p>
  <div class="int-div">
    <button class=" int-button" ng-click='artsClick()'><i class="fa fa-music fa-5x" aria-hidden="true"></i><br/><br/>entertainment</button>
    <button class=" int-button" ng-click='beerClick()'><i class="fa fa-glass fa-5x" aria-hidden="true"></i><br/><br/>drinks</button>
  </div>

  <div class="int-div">
    <button class=" int-button" ng-click='coffeeClick()'><i class="fa fa-coffee fa-5x" aria-hidden="true"></i><br/><br/>coffee</button>
    <button class="int-button" ng-click='shopClick()'><i class="fa fa-shopping-bag fa-5x" aria-hidden="true"></i><br/><br/>shopping</button>
  </div>