<div id='empty' ng-show='empty()' class="map-div">
	<h2 class="text-center">Oh no! There's nothing in your itinerary!</h2>
	<p>To add locations to your itinerary, return <a href="/#/">home</a>, select an interest, and add locations using the 'add to itinerary' button under your desired location(s).</p>
</div>
<div ng-show='!empty()' sv-root class="sortablecontain" sv-part="itinerary"> 
	<div class="itinlist" ng-repeat="place in itinerary track by $index" ng-class="{'blue':$even, 'white': $odd}" sv-element>
		<div>
			<a href="{{ place.url }}" target="_blank"><h3>{{ place.name }}</h3></a>
			<p>{{place.station}}</p>
			<a class="phone-link" href="tel:{{ place.phone }}"><p>{{ place.phone }}</p></a>
			<p>{{ place.address }}</p>
			<button class="remove-btn" ng-click='remove(place)'>Remove</button>
		</div>	
	</div>

</div>
