.half-width {
	margin: 5px;
	width: 49%;
	display: inline-block;
}

.contact-icons {
	color: #626A70;
}

@media(max-width: 1205px) {
	.half-width {
		margin: 5px;
		width: 48%;
	}
}

@media(max-width: 620px) {
	.half-width {
		margin: 5px 0 5px 0;
		position: relative;
		width: 90%;
		left: 5%;
	}
}