.blue{
	background-color: rgba(0, 128, 140, 0.3);
}

.itinlist{
	margin:auto;
	padding: 25px 50px;
	border: solid 1px rgb(0, 128, 140);
	max-width: 50%;
	text-align: center;
}

.remove-btn {
	background-color: #D3794F;
	padding: 5px;
	color: #D5D4CD;
	position: relative;
	left: 50%;
	outline: none;
	border-radius: 5px;
	border: 0;
}

#empty {
	margin-top: 50px;
	text-align: center;

}

@media(min-width: 1300px) {
	.remove-btn {
		font-size: 0.75em;
	}

	.itinlist {
		font-size: 1.5em;
	}
}