.blue {
	background-color: rgba(144, 207, 213, 0.9);
}

.white{
	background-color: rgb(242, 242, 242);
	
}

.sortablecontain{
	border: 1px solid rgb(0, 128, 140);
	max-width: 50%;
	margin:auto;
	border-radius: 15px;
}

.itinlist{
	padding: 25px 50px;
	border: solid 1px rgb(0, 128, 140);
	max-width: 100%;
	text-align: center;
	border-radius: 15px;
}

.remove-btn {
	background-color: #D3794F;
	padding: 5px;
	color: #D5D4CD;
	position: relative;
	left: 50%;
	outline: none;
	border-radius: 5px;
	border: 0;
}

#empty {
	margin-top: 50px;
	text-align: center;

}

@media(min-width: 1300px) {
	.remove-btn {
		font-size: 0.75em;
	}

	.itinlist {
		font-size: 1.5em;
	}
}