.heading {
	display: inline-block;
	font-size: 1.75em; 
	padding: 0 0 0 10px
}

header {
	margin: 10px 0 0 10px;
}

.footer {
	margin: auto 0;
	padding-top: 15px;
	display: inline;
}

#categories {
	display: inline-block;
}

fieldset {
	border-style: none;
}

img {
	max-width: 90%;
}

body {
	font-family: 'Arvo', serif;
	color: #626A70;
	margin-bottom: 50px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
}

.text-center {
	text-align: center;
}

.intro {
	font-size: 2.5em;
}


.int-div {
	position: relative;
	top: 10px;
	left: 15%;
	width: 70%;
}

.int-button {
	background-color: #004D59;
	border-radius: 5px;
	outline: none;
	border: 0;
	color: #D5D4CD;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.25em;
	width: 48%;
	padding: 10px;
	margin: 10px 7px;
}

.int-button:hover {
	background-color: #D3794F;
	cursor: pointer; 
}

i {
	color: #D5D4CD;
	padding: 5%;
}

ng-view {
	height: 2000px;
}

@media(max-width: 1160px) {
	.int-button {
		width: 100%;
	}
}

@media(max-width: 600px) {
	.int-div {
		left: 5%;
		width: 90%;
	}
}

a {
	color: #626A70;
	text-decoration: none;
}

a:visited {
	color: #626A70;
}

a:hover {
	color: #D3794F;
	text-decoration: underline;
}
