.heading {
	display: inline-block;
}

footer {
	position: fixed;
	bottom: 0px;
}

#categories {
	display: inline-block;

}

fieldset {
	border-style: none;
}

img {
	max-width: 90%;
}

body {
	font-family: 'Arvo', serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
}

.map-div {
	background-color: #D5D4CD;
	width: 45%;
}

.int-div {
	position: relative;
	top: 20px;
	left: 15%;
	width: 70%;
}

.int-button {
	background-color: #004D59;
	border-radius: 1px;
	outline: none;
	border: 0;
	color: #D5D4CD;
	font-family: 'Quicksand', sans-serif;
	width: 49%;
	padding: 10px;
	margin: 5px;
}

i {
	color: #D5D4CD;
	padding: 5%;
}