.heading {
	display: block;
	margin: auto;
	text-align: center;
}

#navtop {
	margin-top: 10px;
	margin-bottom: 35px;

}

nav {
	margin-top: 75px;
	width: 100%;
}

nav > a {
	color: rgb(13, 106, 115);
}

a {
	color: rgb(13, 106, 115);
	text-decoration: none;
}

a:visited {
	color: #46AFB9;
}

a:hover {
	color: #D3794F;
	text-decoration: underline;
}

nav > a:visited {
	color: rgb(13, 106, 115);
}

ul {
	list-style-type: none;
	width: 450px;
	margin: auto;
	padding: 0;
}

li {
	display: inline-block;
	width: 32%;
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	text-align: center;
}

#categories {
	display: inline-block;
}

fieldset {
	border-style: none;
}

img {
	max-width: 100%;
}

body {
	font-family: 'Arvo', serif;
	color: #626A70;
	margin-bottom: 50px;
	background-image: url(../images/greyzz.png);
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
}

.text-center {
	text-align: center;
}

.intro {
	font-size: 2.5em;
	margin-bottom: 0;
	padding-bottom: 0;
}


.int-div {
	position: relative;
	top: 10px;
	left: 15%;
	width: 70%;
}

.int-button {
	background-color: #004D59;
	border-radius: 5px;
	outline: none;
	border: 0;
	color: #D5D4CD;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.25em;
	width: 48%;
	padding: 10px;
	margin: 10px 7px;
}

.int-button:hover {
	background-color: #D3794F;
	cursor: pointer; 
}

i {
	color: #D5D4CD;
	padding: 5%;
}

ng-view {
	height: 2000px;
}

@media(max-width: 1223px) {
	.int-button {
		width: 100%;
	}
}

@media(max-width: 600px) {
	.int-div {
		left: 5%;
		width: 90%;
	}
}

@media(max-width: 500px) {
	ul {
		width: 300px;
	}
}

@media(min-width: 1080px) {
	body {
		font-size: 1.5em;
	}
	nav {
		font-size: 1.1em;
	}
	ul {
		width:600px;
	}
	#select {
		font-size: 1.2em;
	}

}
